[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rorqual.morpho"]
	path = rorqual.morpho
	url = https://github.com/flukeandfeather/rorqual.morpho
